docktype
html
    head
        title Lindoria
        //link(href="/src/assets/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="font", href="/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot")
        link(rel="font", href="/vendor/bootstrap/fonts/glyphicons-halflings-regular.svg")
        link(rel="font", href="/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf")
        link(rel="font", href="/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff")
        link(rel="font", href="/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff2")
        link(rel="stylesheet", href="/vendor/angular-ui-grid/ui-grid.min.css")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/angularjs-toaster/toaster.min.css")
        link(rel="stylesheet", href="/css/site.min.css")
    body(ng-app='app', ng-strict-di='')
        block main-content
        include scripts
